@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin blueGradient {
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-lightBlue,
    $color-secondary-darkBlue
  );
}

@mixin orangeGradient {
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-lightOrange,
    $color-secondary-darkOrange
  );
}
@mixin primaryGradient {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  
}
